root = true

[*.{groovy,java,js,html,css,xml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
ij_continuation_indent_size = 8
ij_java_blank_lines_around_field = 1
ij_java_wrap_long_lines = true
ij_java_binary_operation_sign_on_next_line = true
