body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #f0f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: #444;
    text-align: left;
}

input[type="number"], .calculation {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Courier New", Courier, monospace;
}

input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.calculation {
    font-size: 18px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#resetButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #FF6347;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#resetButton:hover {
    background-color: #ff4b3a;
}
