name: Build with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Run PMD Analysis
      run: ./gradlew pmdMain pmdTest
      continue-on-error: false # Fail if code quality issues are found

    - name: Run Checkstyle Analysis
      run: ./gradlew checkstyleMain checkstyleTest
      continue-on-error: false # Fail if code style issues are found

    - name: Run Unit Tests
      run: ./gradlew test

    - name: Build Project
      run: ./gradlew build
